.stimmabgabevermerke-table {
    table-layout: fixed;
    width: 100%;
}

.stimmabgabevermerke-table thead tr .sav-first-column {
    min-width: 150px;
}

.stimmabgabevermerke-table .dynamic-column {
    min-width: 300px;
}
